.count-product {
    width: 100px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #eee;
    border-radius: 8px;
    color: #0fabc6;
    font-size: 15px;
    font-size: 1.071rem;
    line-height: 1.467;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.count-product button {
    border: none;
    margin: 0;
    padding: 0;
    color: #0fabc6;
    background-color: #fff;
    cursor: pointer;
    width: 33%;
    text-align: center;
    height: 100%;
    border-radius: 8px;
}

.count-product button::before{
    font-size: 18px;
    font-size: 1.286rem;
    line-height: 18px;
    vertical-align: top;
    color: #e0e0e2;
}

.count-product div{
    width: 33%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    font-size: 15px;
    font-size: 1.071rem;
    line-height: 15px;
    cursor: default;
}